<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Gradebook</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1950/1950715.png">
    <!-- TODO: replace this with a static image (currently it's hotlinked) -->
</head>

<body>
    <h1 class="big-title">University of California, Massachusetts</h1>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <form action="/logout">
        <div class="box">
            <button type="submit">Log out</button>
            </div>
        </div>
    </form>

    <div class="box">
        <ul>
            <li><a onclick="enrolledCourses()" href="#" class="active">Enrolled Courses</a></li>
            <li><a onclick="getGrades()" href="#">Add Courses</a></li>
        </ul>
        
        <!-- <button onclick="getGrades()">click for course</button> -->
        <div id="demo"></div>

        <!-- teacher id dropdown -->
        <select id="teacher-dropdown"></select>
    </div>


    <script>
        // run functions here
    </script>
</body>

</html>